.DS_Store
BusaoSP.xcworkspace/xcuserdata/erich.xcuserdatad/UserInterfaceState.xcuserstate
BusaoSP.xcodeproj/project.xcworkspace
BusaoSP.xcodeproj/xcuserdata
BusaoSP.xcworkspace/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/